In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
data=pd.read_csv("Median.csv")

data=np.array([1,2,3,4,5])

# View Data on the table format

In [3]:
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [27]:
data

    Student  Overall Marks  Gender    Subject
0     Anish           9700    Male    English
1   Rishabh             83    Male    English
2      Ajay             78    Male    Physics
3   Abhinav             86    Male  Chemistry
4    Anurag             91    Male    English
..      ...            ...     ...        ...
95  Aaditya             77    Male  Chemistry
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry

[100 rows x 4 columns]

# Mode

In [29]:
mode_data=data['Overall Marks'].mode()

In [30]:
print(mode_data)

0    88
dtype: int64

In [38]:
mode=data['Subject'].mode()

In [39]:
print(mode)

0    Chemistry
dtype: object

# Mean

In [40]:
mean=data['Overall Marks'].mean()

In [41]:
print(mean)

164.24

# Median

In [42]:
median=data['Overall Marks'].median()

In [43]:
print(median)

77.0

# Max

In [44]:
MAX=data['Overall Marks'].max()

In [45]:
print(MAX)

9700

# Min

In [46]:
MIN=data['Overall Marks'].min()

In [47]:
print(MIN)

0

In [48]:
RANGE=MAX-MIN

# Range

In [49]:
print(RANGE)

9700

# Difference

In [50]:
DIFFERENCE=data['Overall Marks']-mean

In [51]:
DIFFERENCE

0     9535.76
1      -81.24
2      -86.24
3      -78.24
4      -73.24
       ...
95     -87.24
96    -109.24
97    -157.24
98     -91.24
99     -82.24
Name: Overall Marks, Length: 100, dtype: float64

# SQUARED_DIFFERENCE

In [52]:
SQUARED_DIFFERENCE=DIFFERENCE**2

In [53]:
SQUARED_DIFFERENCE

0     9.093072e+07
1     6.599938e+03
2     7.437338e+03
3     6.121498e+03
4     5.364098e+03
          ...
95    7.610818e+03
96    1.193338e+04
97    2.472442e+04
98    8.324738e+03
99    6.763418e+03
Name: Overall Marks, Length: 100, dtype: float64

# VARIANCE

In [54]:
VARIANCE=SQUARED_DIFFERENCE.mean()

In [55]:
print(VARIANCE)

919170.8423999996

In [56]:
print(data['Overall Marks'].var(ddof=0))

919170.8423999996

# STANDARD_DEVIATION

In [57]:
STANDARD_DEVIATION=VARIANCE**(1/2)

In [58]:
print(STANDARD_DEVIATION)

958.7339789534944

# Print subject with marks

In [59]:
print(data['Subject'].value_counts())

Chemistry    36
Physics      35
English      29
Name: Subject, dtype: int64

# VARIANCE of overall marks

In [62]:
VARl=np.var(data['Overall Marks'])

In [63]:
print(VARl)

919170.8423999996

# Shout cut of printing the count, mean, std, min, max

In [65]:
data.describe()

       Overall Marks
count     100.000000
mean      164.240000
std       963.563904
min         0.000000
25%        57.250000
50%        77.000000
75%        87.250000
max      9700.000000